@import './color';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: $background;
    width: 100%;
    height: 100vh;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin background-default{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

@mixin background-mask{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #10101085;
}