@import './color';
@import './font';

@mixin button_first_section{
    width: 242px;
    height: 51px;
    border-radius: 8px;
    background: $orange;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: $white;

    border: none;
    outline: 0;
    cursor: pointer;
}