@mixin font_logo {
    font-family: "Stoke";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

@mixin font_nav {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
}

@mixin font_first_section {
    font-family: "Nunito";
    font-size: 48px;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin font_second_section_title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
}

@mixin font-second_section {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;
}

@mixin font_placeholder {
    font-family: "Stoke";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}

@mixin font_submit{
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}
